body{
  background-color: #B69A9460;
/*color: #C03618*/
  color: #900C3F; 
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.header{
 border-bottom: 1px solid black;
 line-height: 1px;
 font-size: 25px;
  font-weight: bold;
  padding-top:5px;
}

.info-header {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 35px;
 font-style: italic;
  color: black;
}

.header img{
  height: 150px;
  transform: rotate(90deg);
  float: right; 
}

.education h3{
  font-size: 35px;
  line-height: 1px;
  font-style: italic;
  padding-top: 50px;
}

.education h4{
  border-bottom: 1px solid black;
  margin: 0;
  font-size: 20px;
  color: black;
  padding-top:0;
}

table.table1{
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
}

.education h5{
  margin-bottom: 5px;
  font-size: 16px;
  margin: 5px;
  color: black;
}

.education ul{
  margin-top: 0;
  font-size: 16px;
  color: black;
}

.experience h3{
 font-size: 35px;
 line-height: 1px;
  padding-top: 30px;
  font-style: italic;
}


.workone h4{
  font-size: 20px;
  color: black;
}

table.table2{
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1; 
  color: black;
}

.workone h5{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
}

.workone ul{
    font-size: 16px;
  margin-top: 1;
  color: black;
  }

.worktwo h4{
  font-size:20px;
  color: black;
}

table.table3{
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1;
  color: black;
}

.worktwo h5{
  font-size:18px;
  margin-top:0;
  margin-bottom: 0;
  color: black;
}

.worktwo dl{
  font-size: 16px;
  padding-left: 5%;
  margin-top: 1; 
  color: black;
}

dt{
    display: list-item;
    list-style-type: disc;
    }
.worktwo dt{
  text-decoration: underline;
  
}
.skills h3{
 font-size: 35px;
  font-style: italic;
  margin-bottom: 0;

}

.skills ul{
  color: black;
  font-size: 16px;
  margin-top: 1;
}




