body{
  background-color: white;
  color: #C03618;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.header{
 border-bottom: 1px solid black;
 line-height: 1px;
  
}

.info-header{
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 10px;
}

img{
  height: 110px;
  transform: rotate(90deg);
  float: right;
  
  
}

.edu-info h4{
  border-bottom: 1px solid black;
  margin: 0;
}

.edu-info h5{
  margin-bottom: 5px;
}

.edu-info ul{
  margin-top: 0;
  font-size: 12px;
}

.edu-header{
  text-transform: uppercase;
  line-height: 1px;
  padding-top: 50px;

}

table.table1{
  font-size: 12px;
  margin-bottom: 8px;
  
}
.edu-info{
 border-top: 20px;
  
}

h5 {
    margin-top: 0;
}

.exp-header h3{
 text-transform: uppercase;
 margin-top: 40px;
}

table.table2{
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 1;
 
}

.workone ul{
    font-size: 12px;
  }

table.table3{
  font-size: 12px;
  margin-bottom: 8px;
  line-height: 1;
}



.worktwo dl{
  font-size: 12px;
  padding-left: 5%;
  
  
}
dt{
    display: list-item;
    list-style-type: disc;
    }
.worktwo dt{
  text-decoration: underline;
}

